[build]
builder = "nixpacks"

[deploy]
startCommand = "npm run start --workspace=backend"
healthcheckPath = "/health"
healthcheckTimeout = 100
restartPolicyType = "on_failure"
restartPolicyMaxRetries = 10

